body{
    margin: 0;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e0e1e4;
}

::-webkit-scrollbar-thumb {
    background: #8b8b8e;

    &:hover {
        background: #6c6c83;
    }
}

body, html {
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
}